[{kernel, [{distributed, [{dist, 5000, [{app@doxtop.cc, {game@doxtop.cc, web@doxtop.cc}}]}]}]},
 {gproc, [{gproc_dist, 'all'}]},
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {mnesia, [{dir, "data"}]},
 {snmp, [{agent, [
            {priority, normal},
            {versions, [v3]},
            {db_dir, "etc/snmp/agent/db"},
            {config, [{dir, "etc/snmp/agent"},{force_load, true}, {verbosity, silence}]},
            {mibs, ["lib/n2-1/priv/mibs/EX1-MIB", "lib/otp_mibs-1.0.7/priv/mibs/OTP-MIB", "lib/os_mon-2.2.10/priv/mibs/OTP-OS-MON-MIB"]},
            {mib_storage, ets},
            {target_cache, [{verbosity,silence}]},
            {symbolic_store, [{verbosity,silence}]},
            {local_db, [{repair,true},{auto_save,5000},{verbosity,silence}]},
            {error_report_module, snmpa_error_logger},
            {agent_type, master},
            {agent_verbosity, silence},
            {discovery, [{terminating, [{enable, true}, {stage2, discovery}, {trigger_username, ""}]},{originating, [{enable, true}]}]},
            {multi_threaded, false},
            {mib_server, [{mibentry_override,false},{trapentry_override,false},{verbosity,silence},{cache,true}]},
            {note_store, [{timeout,30000},{verbosity,silence}]},
            {net_if, [{module,snmpa_net_if},{verbosity,silence},{options,[{bind_to,false},{no_reuse,false},{req_limit,infinity}]}]}
         ]}]}
].

