body{
    text-align: center;
    vertical-align: middle;
}
.demo {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    display: inline-block;
    background-color: lightgray;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}